<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Suven consultants and technology Pvt.Ltd.</div>
                                        <div class="h6 mt-0 title">Learner/Trainee (03/11/2020 - 15/11/2020)</div>
                                        <p align="justify">Internship/project work</p>
                                        <p align="justify">I had participated in internship/workshop on Data Analysis and Data Visualization using -</p>
                                        <p align="justify">- QlikView BI tool with 1 domain specific case study.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Understanding QlikView BI Tool</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Python</li>
                                                        <li class="non_list">Data Analysis</li>
                                                        <li class="non_list">Data visualization</li>
                                                        <li class="non_list">QlikView BI Tool</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Git</li>
                                                        <li class="non_list">blog</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>   
                        <li>
                            <div class="timeline-badge down">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-6 ">
                                        <div class="h5 mt-0 title">Tata Consultancy Services Ltd</div>
                                        <div class="h6 mt-0 title">Java SQL Developer (08/07/2021 - present)</div>
                                        <p align="justify">Worked as a Software developer to develop analytical and visualization solution for TATA Telecommuncation industry.</p>
                                    </div>    
                                    <div class="col-lg-6">       
                                        <ul>
                                            <li class="list">Core Functionality</li>
                                            <ul>
                                                <li class="non_list">Software Development</li>
                                                <li class="non_list">Testing and Automation</li>
                                                <li class="non_list">WebApplication Development</li>
                                            </ul>
                                            <li class="list">Technologies and Language</li>
                                            <ul>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <li class="non_list">Java</li>
                                                        <li class="non_list">Hibernate</li>
                                                        <li class="non_list">Spring</li>
                                                        <li class="non_list">Maven</li>
                                                        <li class="non_list">Oracle sql</li>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <li class="non_list">Python</li>
                                                        <li class="non_list">Microsoft Azure</li>
                                                        <li class="non_list">Coverity Tool</li>
                                                        <li class="non_list">Git</li>
                                                    </div>
                                                </div>   
                                            </ul>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>
        